<div class="title-bar">
  <div class="left">
    <div class="name">BookBar</div>
    <div
      class="browse"
      *ngIf="!headerConfig?.isHistory"
      (click)="toggleCategoriesPopup()"
    >
      Browse Categories
      <span><img src="assets/images/title/nav.png" alt="" /></span>
    </div>
  </div>

  <div class="right" *ngIf="!headerConfig?.isProfile">
    <div class="login" (click)="toggleRegisterForm()">Sign Up</div>
    <div class="already-user" (click)="toggleLoginForm()">
      Already a user? Log in
    </div>
  </div>

  <div class="right" *ngIf="headerConfig?.isProfile">
    <div
      class="history"
      *ngIf="!headerConfig?.isHistory"
      (click)="checkMyHistory()"
    >
      My history
    </div>
    <img (click)="logout()" src="assets/images/title/avatar.png" alt="" />
  </div>
</div>

<div class="categories" *ngIf="showCategoriesPopup">
  <app-category (close)="toggleCategoriesPopup()"></app-category>
</div>

<div class="login" *ngIf="showLoginForm">
  <app-login
    (registerForm)="toggleRegisterForm()"
    (closePopup)="toggleLoginForm()"
  ></app-login>
</div>

<div class="register" *ngIf="showRegisterForm">
  <app-register
    (loginForm)="toggleLoginForm()"
    (closePopup)="toggleRegisterForm()"
  ></app-register>
</div>
