<div class="title-bar">
  <div class="left">
    <div class="name">BookBar</div>
    <div class="browse" (click)="toggleCategoriesPopup()">
      Browse Categories
      <span><img src="assets/images/title/nav.png" alt="" /></span>
    </div>
  </div>

  <div class="right">
    <div class="login" (click)="toggleRegisterForm()">Sign Up</div>
    <div class="already-user" (click)="toggleLoginForm()">
      Already a user? Log in
    </div>
  </div>
</div>

<div class="categories" *ngIf="showCategoriesPopup">
  <app-category></app-category>
</div>

<div class="login" *ngIf="showLoginForm">
  <app-login (closePopup)="toggleLoginForm()"></app-login>
</div>

<div class="register" *ngIf="showRegisterForm">
  <app-register (closePopup)="toggleRegisterForm()"></app-register>
</div>
