@import "~src/assets/styles/helpers/mixins";

.issue-book-component {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  @include flex-container(center, center);
  z-index: 11;
  .error {
    @include font(20, noto, #dc143c);
    margin: 0.3rem 0 0 0.2rem;
    animation: fade-in 0.3s ease-in-out;
    text-align: center;
  }

  .form {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 30vw;
    position: relative;
    animation: fade-in 0.5s ease-in-out;
    .title {
      @include font(34, roboto-bold, #011f27);
      text-align: center;
      padding: 1rem 0;
      margin-bottom: 1rem;
    }

    .close {
      position: absolute;
      top: 1rem;
      height: 2rem;
      right: 1rem;
    }

    .register-form {
      @include flex-container(center, center, column);
      width: 100%;
      .field {
        width: 80%;
        margin: 0.8rem 0;
        input {
          width: 100%;
          padding: 0.8rem;
          border-radius: 0.5rem;
          border: 1px solid #bf9889;
          @include font(21, roboto, #6b778c);
          &:focus {
            outline: none !important;
          }
        }

        .error {
          @include font(15, noto, #dc143c);
          margin: 0.3rem 0 0 0.2rem;
          animation: fade-in 0.3s ease-in-out;
        }
      }
      .submit {
        margin: 2rem 0;
        width: 40%;
        text-align: center;
        background: #bf9889;
        @include font(21, roboto, #fff);
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        &.disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
