@import "~src/assets/styles/helpers/mixins";

.home-component {
  height: 100%;
  width: 100%;
  .title-text {
    margin-top: 4rem;
    text-align: center;
    .title {
      @include font(48, noto-bold, #011f27);
      line-height: 1.2;
    }

    .desc {
      @include font(20, roboto, #011f27);
      margin-top: 1rem;
      span {
        @include font(20, roboto-medium, #011f27);
      }
    }
  }

  .search-box {
    margin-top: 4rem;
    @include flex-container(center, center);
    width: 100vw;
    .search-input {
      width: 90vw;
      @include flex-container(center, flex-start);
      border: 1px solid #bf9889;
      padding: 1.2vw;
      border-radius: 0.3vw;
      .input {
        margin-left: 3vw;
        height: 100%;
        flex: 1;
        input {
          border: none !important;
          @include font(21, roboto, #6b778c);
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        input::placeholder {
        }
      }
    }
  }

  .popuplar-searches {
    margin-top: 4rem;
  }
}
