<div class="home-component">
  <div class="title-text">
    <div class="title">
      Your all-time companion <br />
      for open source books
    </div>
    <div class="desc">
      Access over
      <span>20 million+</span> diverse genres books anytime anywhere
    </div>
  </div>

  <div class="search-box">
    <div class="search-input">
      <img src="assets/images/header/search.png" alt="" />
      <div class="input">
        <input type="text" placeholder="Try Searching 'Fiction Books'" />
      </div>
    </div>
  </div>

  <div class="popuplar-searches">
    <div class="title">Popular Searches</div>
  </div>
</div>
