<div class="register-component">
  <div class="form">
    <form [formGroup]="registerForm">
      <div class="name">
        <input
          type="text"
          placeholder="Enter Name"
          formControlName="name"
          id=""
        />
      </div>
      <div class="email">
        <input
          type="email"
          placeholder="Enter Email ID"
          formControlName="name"
          id=""
        />
      </div>
      <div class="password">
        <input
          type="password"
          placeholder="Enter Password"
          formControlName="name"
          id=""
        />
      </div>
    </form>
  </div>
</div>
