@import "./../helpers/variables";

html {
  font-size: $primary-font-size;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
}

body {
  // font-family: $primary-font-family;
  line-height: 24px;
  // color: $primary-color;
  margin: 0;
  padding: 0;
  // background: $background-color1;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.clearfix {
  clear: both;
}

img {
  max-height: 100%;
  max-width: 100%;
}
