@font-face {
  font-family: "arvo-bold";
  src: url(~src/assets/fonts/arvo/Arvo-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "arvo-boldItalic";
  src: url(~src/assets/fonts/arvo/Arvo-BoldItalic.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "arvo-italic";
  src: url(~src/assets/fonts/arvo/Arvo-Italic.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "arvo-regular";
  src: url(~src/assets/fonts/arvo/Arvo-Regular.ttf) format("truetype");
  font-weight: 700;
}
